body{
	padding-bottom: 50px;
	
	font-family: 'Dosis', sans-serif;
	background-color: lightgray;
}

footer{
	
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;

}
.row{
	padding: 10px;

}
.container{
	margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {

.row{
	padding: 30px;
}

}


